body {
    background-image: url("./Untitled\ design.png");
    background-color: #353637;
    background-position: center top;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;

    font-family: 'Century Gothic', 'Candara', 'Calibry'; 

}

table {
    width: 50%;
    color: white;
    background-color: rgba(76, 8, 6, 0.5);

    border-collapse: collapse;
    border-radius: 10px;

    /* font-style: normal; */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type=text] {
    width: 80%;
    margin-left: 10%;

    font-family: 'Century Gothic', 'Candara', 'Calibry'; 
    
    padding: 5px;
    /* border-radius: 10px; */
    border: none;
    background-color: transparent;
    border-bottom: white solid 1px;

    outline: none;
    caret-color: #ddd;
}

input[type=submit] {
    padding: 5px;
    width: 40%;
    margin-left: 30%;
    
    font-family: 'Century Gothic', 'Candara', 'Calibry'; 
    text-align: center;

    border: none;
    border-radius: 25px;
    background-color: #f1f1f1;
}
select {
    padding: 5px;
    width: 80%;
    
    text-align: center;
    font-family: 'Century Gothic', 'Candara', 'Calibry'; 

    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
}

textarea {
    padding: 5px;
    width: 80%;
    border-radius: 5px;
    /* border: rgb(76, 8, 6) solid 1px; */
    border: none;
    resize: none;
}

th, td {
    padding: 2%;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: rgba(76, 8, 6, 0.6);
}


.rightB {
    border-right: 1px solid #ddd;
}

.lastRow {
    border-style: none;
}

.header {
    font-size: xx-large;
}

.header:hover {
    text-shadow: 2px 2px #ff0000;
}

#delInst {
    display: block;
    text-align: center;
}

.placeH {
    font-style: italic;
    font-family: 'Century Gothic', 'Candara', 'Calibry'; 
}


input:focus::-webkit-input-placeholder {
    opacity: 0;
}

input:focus::-moz-placeholder {
   opacity: 0;
}
 
input:focus:-ms-input-placeholder {
    opacity: 0;
}
 
input:focus:-moz-placeholder {
   opacity: 0;
}

input[type=submit]:hover {
    background-color: lightcoral;
    color: white;
}


